@mobileWidth: 480px;
@mobileHeight: 3210px;

@media(max-width: @mobileWidth)
{
    #scene-container{
        height: @mobileHeight;
        min-width: inherit;
    }


    .main-contents{

        @LH1: 70px;
        @LH2: 400px;
        @LH3: 644px;
        @LH4: 845px;
        @LH5: 663px;
        @LH6: 588px;

        width: @mobileWidth;
        height: @mobileHeight;

        left: 50%;
        margin-left: -@mobileWidth * .5;

        overflow: hidden;

//        .image-bg('layout-mobile.jpg');

        .top-group{
            height: @LH1;

            .logo{
                .abs-div(108px, 19px, 263px, 41px, 0, 0, "top-group-logo-m.png");
            }
        }

        .video-group{
            height: @LH2;

            .video-area{

                @vw: 480px;
                @vh: 278px;
                @wGap: 0px;

                position: absolute;
                top:43px;
                left:50%;


                .video-container{
                    left: -@vw*.5;

                    .video-player{
                        width: @vw;
                        height: @vh;
                        background: #ccc;

                        margin-right: @wGap;
                    }

                }

                .arrow-left{
                    display:none;
                }
                .arrow-right{
                    display:none;
                }
            }

            .video-thumb-area{
                @thumbWidth: 117px;
                @thumbHeight: 67px;
                @thumbGap:4px;

                position: absolute;
                top:333px;
                left:0;
                width: 500px;
                height:@thumbHeight;



                .video-thumb{
                    position: relative;
                    float:left;
                    width:@thumbWidth;
                    height: @thumbHeight;
                    margin-right:@thumbGap;
                    background: #ccc;

                    &:nth-child(1){
                        .image-bg("video-group-thumb-1.png");
                    }

                    &:nth-child(2){
                        .image-bg("video-group-thumb-2.png");
                    }

                    &:nth-child(3){
                        .image-bg("video-group-thumb-3.png");
                    }

                    &:nth-child(4){
                        .image-bg("video-group-thumb-4.png");
                    }

                    transition: opacity .5s ease-out;

                    &.disactive{
                        opacity: .5;
                    }
                }
            }

            .bottom-buttons{
                position: absolute;
                bottom:auto;
                left:12px;
                top:8px;
            }

        }

        .product-group{
            background: #ffffff;
            height: @LH3;

            .content{
                .abs-div(0px, 27px, 480px, 166px, 0, 0, "product-group-content-m.jpg");
            }

            .topic-container{
                position: absolute;
                top:0;
                left:0;

                .topic-1{
                    .abs-div(6px, 199px, 470px, 424px, 0px, 0, "product-group-topic-1-m.jpg");
                }
                .topic-2{
                    .abs-div(20px, 208px, 437px, 315px, @mobileWidth, 0, "product-group-topic-2-m.jpg");
                }
            }
            .btn-left{
                .abs-div(0px, 367px, 38px, 40px, 0, 0, "black-btn-left.png");
                cursor: pointer;
                &:active{
                    background-repeat: repeat;
                    background-position: 2px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
            .btn-right{
                .abs-div(442px, 367px, 38px, 40px, 0, 0, "black-btn-right.png");
                cursor: pointer;
                &:active{
                    background-repeat: repeat;
                    background-position: -2px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
        }

        .video-create-group{
            background: #fceef3;
            height: @LH4;

            .top{
                .abs-div(23px, 23px, 429px, 270px, 0, 0, "video-create-top-m.jpg");
            }
            .kv-area{
                display: none;
            }
            .kv-area-m{
                position: absolute;
                top: 0;
                left: 0;

                .kv-1{
                    .abs-div(57px, 307px, 342px, 516px, 0px, 0, "video-create-kv-1-m.png");
                }

                .kv-2{
                    .abs-div(57px, 307px, 342px, 516px, @mobileWidth, 0, "video-create-kv-2-m.png");
                }

                .kv-3{
                    .abs-div(57px, 307px, 342px, 516px, @mobileWidth * 2, 0, "video-create-kv-3-m.png");
                }

                .kv-1, .kv-2, .kv-3{

                    .video-btn{
                        position: absolute;
//                        background: rgba(255,0,0,.5);
                        right:0;
                        bottom:285px;
                        width: 314px;
                        height: 205px;
                        cursor: pointer;
                    }


                    .btn{
                        position: absolute;
                        width: 268px;
                        height: 53px;
                        left:52px;
                        bottom:28px;
                        .image-bg("video-create-btn-go-m.png");
                        cursor: pointer;
                        &:active{
                            margin-bottom: -2px;
                        }
                    }
                }
            }



            .btn-left{
                .abs-div(0px, 475px, 38px, 40px, 0, 0, "black-btn-left.png");
                cursor: pointer;
                &:active{
                    background-repeat: repeat;
                    background-position: -2px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
            .btn-right{
                .abs-div(442px, 475px, 38px, 40px, 0, 0, "black-btn-right.png");
                cursor: pointer;
                &:active{
                    background-repeat: repeat;
                    background-position: 2px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
        }

        .blogger-group{
            background: #fcfcfc;
            height: @LH5;

            .top{
                .abs-div(27px, 39px, 424px, 136px, 0, 0, "blogger-group-top-m.png");
            }
            .left{
                display: none;
            }

            .blogger-container {

                position: absolute;
                top: 0;
                left: 0;

                @gap: 250px;

                .my-mixin2(1, 0, 62px, 195px, 170px, 215px);
                .my-mixin2(2, 0, 248px, 195px, 170px, 215px);
                .my-mixin2(3, 0, 62px, 423px, 170px, 215px);
                .my-mixin2(4, 0, 248px, 423px, 170px, 215px);
                .my-mixin2(5, 1, 62px, 195px, 170px, 215px);
                .my-mixin2(6, 1, 248px, 195px, 170px, 215px);
                .my-mixin2(7, 1, 62px, 423px, 170px, 215px);

                .my-mixin2(@index; @groupIndex; @left; @top; @w; @h;) {
                    .blogger-@{index} {
                        .abs-div(@left, @top, @w, @h, @groupIndex * @mobileWidth, 0, "blogger-@{index}.png");
                        cursor: pointer;


                        .blogger-cover{
                            width: 166px;
                            height: 209px;


                            opacity: 1;

                        }

                    }
                }
            }

            .btn-left{
                .abs-div(0px, 355px, 38px, 40px, 0, 0, "black-btn-left.png");
                cursor: pointer;
                &:active{
                    background-repeat: repeat;
                    background-position: -2px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
            .btn-right{
                .abs-div(442px, 355px, 38px, 40px, 0, 0, "black-btn-right.png");
                cursor: pointer;
                &:active{
                    background-repeat: repeat;
                    background-position: 2px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
        }

        .prize-group{
            .image-bg("prize-group-bg-m.jpg");
            height: @LH6;

            .input-name, .input-email, .input-phone{
                width: 270px;
                height: 25px;
            }

            .input-name{
                left: 121px;
                top:181px;
            }

            .input-phone{
                left: 121px;
                top:227px;
            }

            .input-email{
                left: 121px;
                top:273px;
            }

            .check-privacy{
                left: 24px;
                top:322px;
            }


            .btn-privacy{
                left: 80px;
                top: 318px;
                width: 187px;
                height: 26px;
            }

            .btn-retail{
                .abs-div(132px, 427px, 221px, 41px, 0, 0, "prize-group-btn-retails.png");
            }

            .btn-send{
                .abs-div(39px, 478px, 408px, 64px, 0, 0, "prize-group-btn-send-m.png");
            }

        }

    }

    /** video create form **/
    .video-create-form{

        overflow-x: hidden;
        overflow-y: auto;

        .form-container{

            @w: 480px;
            @h: 2150px;
            @gap: 0px;
            @minHeight: (@h + @gap * 2);

            .centralized-div(50%, 50%, @w, @h);
//            .image-bg('layout-video-form-mobile.png');
            background-color: white;


            @media (max-height: @minHeight) {
                position: relative;
                top:0;
                margin-top: @gap;
                margin-bottom: @gap;
            }

            //        .image-bg("demo-video-form.jpg");
            //        .image-bg("video-form-base.jpg");




            .title{
                .abs-div(0px, 20px,480px,259px,0,0, "video-form-title-m.png");
            }


            .check-text{
                right:104px;
                bottom:218px;
            }

            .deco{
                right:34px;
                top:1148px;
                width:136px;
                height:354px;
                .image-bg("check-form-deco-m.jpg");
            }

            .question-text{
                .abs-div(106px, 1665px,256px,16px,0,0, "video-form-question.png");
            }

            .input-field{
                left:44px;
                top:1692px;
                width:386px;
                height:101px;

                border: 1px solid black;
            }

            .item-1, .item-2, .item-3{
                position: absolute;

                // 384, 246

                .left-part{

                    .help-text{
                        .abs-div(16px, 16px, 106px, 39px,0 ,0 , "video-form-user-image-help-text.png");
                    }
                }

                .right-part{
                    float:none;
                    margin-left: 0;
                    margin-top: 299px;

                    .text-select{

                        width: 384px;
                        border: 1px solid black;
                    }

                }
            }
            .item-1{
                top:287px;
                left:45px;

                .left-part{

                    width: 384px;
                    height: 236px;

                    .number-text{
                        position: absolute;
                        right:27px;
                        bottom:13px;
                        width: 25px;
                        height: 93px;
                        .image-bg('video-form-number-1.png');
                    }

                }
            }
            .item-2{
                top:669px + 52px;
                left:45px;

                .left-part{

                    width: 243px;
                    height: 150px;

                    .number-text{
                        position: absolute;
                        right:12px;
                        bottom:13px;
                        width: 65px;
                        height: 95px;
                        .image-bg('video-form-number-2.png');
                    }

                }
            }
            .item-3{
                top:1049px + 108px;
                left:45px;

                .left-part{

                    width: 156px;
                    height:206px;

                    .number-text{
                        position: absolute;
                        right:12px;
                        bottom:13px;
                        width: 64px;
                        height: 97px;
                        .image-bg('video-form-number-3.png');
                    }

                }

                .right-part{
                    margin-top: 355px;
                }
            }


            .bottom-group{

                margin-bottom: 60px;


                .share-text-tag{
                    right: 79px;
                    bottom:226px;

                    width: 290px;
                    height: 50px;

                    .default-font(14px, black);

                    line-height: 24px;

                }

                .check-privacy{
                    right:374px;
                    bottom: 177px;
                }

                .check-fb-share{
                    right:374px;
                    bottom: 155px;
                }

                .btn-privacy{
                    right: 126px;
                    bottom: 175px;
                }

                .btn-send{
                    right:38px;
                    bottom:68px;
                    width: 403px;
                    height: 67px;
                    .image-bg("btn-send-m.png");
                }

            }


            .btn-close{
//                display: none;
//                .abs-div(813px, 15px, 46px, 46px,0 ,0 , "btn-close.png");
                left: 50%;
                margin-left: -25px;
                top: auto;
                bottom:40px;
                width: 50px;
                height: 50px;
                .image-bg("btn-close-m.png");
            }
        }
    }

}