/** common mixins **/
html {
  padding: 0;
  margin: 0;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background: #faefd8;
  padding: 0;
  margin: 0;
}
body.lock-mode {
  overflow: hidden;
}
.template-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#invisible-container {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.main-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 50;
}
/** main contents **/
#scene-container {
  position: absolute;
  width: 100%;
  height: 4350px;
  overflow: hidden;
  min-width: 1370px;
}
.main-contents {
  position: absolute;
  width: 1920px;
  height: 4350px;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
  /** groups **/
}
.main-contents .block-group {
  position: relative;
  width: 100%;
  float: left;
}
.main-contents .top-group {
  background: #fcfcfc;
  height: 136px;
}
.main-contents .top-group .logo {
  position: absolute;
  left: 682px;
  top: 23px;
  width: 554px;
  height: 86px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/top-group-logo.png");
  background-size: cover;
}
.main-contents .video-group {
  background: #fcfcfc;
  height: 610px;
}
.main-contents .video-group .video-area {
  position: absolute;
  top: 0;
  left: 50%;
}
.main-contents .video-group .video-area .video-container {
  position: absolute;
  top: 0;
  left: -593px;
  white-space: nowrap;
  font-size: 0;
}
.main-contents .video-group .video-area .video-container .video-player {
  position: relative;
  display: inline-block;
  width: 1186px;
  height: 546px;
  margin-right: 20px;
}
.main-contents .video-group .video-area .arrow-left {
  position: absolute;
  left: -670px;
  top: 204px;
  width: 44px;
  height: 112px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-group-arrow-left.png");
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}
.main-contents .video-group .video-area .arrow-left:active {
  margin-left: -10px;
}
.main-contents .video-group .video-area .arrow-left.disactive {
  opacity: 0;
}
.main-contents .video-group .video-area .arrow-right {
  position: absolute;
  left: 620px;
  top: 204px;
  width: 44px;
  height: 112px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-group-arrow-right.png");
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}
.main-contents .video-group .video-area .arrow-right:active {
  margin-left: 10px;
}
.main-contents .video-group .video-area .arrow-right.disactive {
  opacity: 0;
}
.main-contents .video-group .bottom-buttons {
  position: absolute;
  bottom: 53px;
  left: 1094px;
}
.main-contents .video-group .bottom-buttons .btn-offical-site {
  position: absolute;
  left: 0px;
  width: 150px;
  height: 26px;
  cursor: pointer;
}
.main-contents .video-group .bottom-buttons .btn-offical-site .text {
  position: absolute;
  width: 100px;
  height: 26px;
  left: 0;
  top: 0;
  background-image: url("../images/video-group-buttons.png");
  background-size: auto;
  background-position: 0px;
}
.main-contents .video-group .bottom-buttons .btn-offical-site .icon {
  position: absolute;
  width: 40px;
  height: 26px;
  left: 100px;
  top: 0;
  background-image: url("../images/video-group-buttons.png");
  background-size: auto;
  background-position: -100px;
}
.main-contents .video-group .bottom-buttons .btn-fb {
  position: absolute;
  left: 160px;
  width: 190px;
  height: 26px;
  cursor: pointer;
}
.main-contents .video-group .bottom-buttons .btn-fb .text {
  position: absolute;
  width: 124px;
  height: 26px;
  left: 0;
  top: 0;
  background-image: url("../images/video-group-buttons.png");
  background-size: auto;
  background-position: -160px;
}
.main-contents .video-group .bottom-buttons .btn-fb .icon {
  position: absolute;
  width: 30px;
  height: 26px;
  left: 124px;
  top: 0;
  background-image: url("../images/video-group-buttons.png");
  background-size: auto;
  background-position: -284px;
}
.main-contents .video-group .bottom-buttons .btn-ig {
  position: absolute;
  left: 334px;
  width: 120px;
  height: 26px;
  cursor: pointer;
}
.main-contents .video-group .bottom-buttons .btn-ig .text {
  position: absolute;
  width: 90px;
  height: 26px;
  left: 0;
  top: 0;
  background-image: url("../images/video-group-buttons.png");
  background-size: auto;
  background-position: -334px;
}
.main-contents .video-group .bottom-buttons .btn-ig .icon {
  position: absolute;
  width: 27px;
  height: 26px;
  left: 90px;
  top: 0;
  background-image: url("../images/video-group-buttons.png");
  background-size: auto;
  background-position: -424px;
}
.main-contents .video-group .bottom-buttons .div-line-1 {
  position: absolute;
  width: 1px;
  height: 22px;
  top: 2px;
  left: 149px;
  background: #333333;
}
.main-contents .video-group .bottom-buttons .div-line-2 {
  position: absolute;
  width: 1px;
  height: 22px;
  top: 2px;
  left: 323px;
  background: #333333;
}
.main-contents .product-group {
  background: #fcfcfc;
  height: 1068px;
}
.main-contents .product-group .content {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 1920px;
  height: 1018px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/product-group-content.jpg");
  background-size: cover;
}
.main-contents .video-create-group {
  background: #fceef3;
  height: 994px;
}
.main-contents .video-create-group .top {
  position: absolute;
  left: 360px;
  top: 14px;
  width: 1316px;
  height: 319px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-top.jpg");
  background-size: cover;
}
.main-contents .video-create-group .kv-area {
  position: absolute;
  top: 351px;
  left: 361px;
}
.main-contents .video-create-group .kv-area .kv-1 {
  position: absolute;
  left: 0px;
  top: 0;
  width: 398px;
  height: 526px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-kv.jpg");
  background-size: cover;
  background-position: 0px;
}
.main-contents .video-create-group .kv-area .kv-1 .hover-clip {
  position: absolute;
  left: 0;
  top: 0;
  width: 399px;
  height: 526px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-kv-hover.jpg");
  background-size: cover;
  background-position: 0px;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.main-contents .video-create-group .kv-area .kv-1 .hover-clip:hover {
  cursor: pointer;
  opacity: 1;
}
.main-contents .video-create-group .kv-area .btn-1 {
  position: absolute;
  left: 80px;
  top: 546px;
  width: 235px;
  height: 50px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-btn-go.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .video-create-group .kv-area .btn-1:active {
  margin-top: 1px;
}
.main-contents .video-create-group .kv-area .kv-2 {
  position: absolute;
  left: 398px;
  top: 0;
  width: 398px;
  height: 526px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-kv.jpg");
  background-size: cover;
  background-position: -398px;
}
.main-contents .video-create-group .kv-area .kv-2 .hover-clip {
  position: absolute;
  left: 0;
  top: 0;
  width: 399px;
  height: 526px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-kv-hover.jpg");
  background-size: cover;
  background-position: -398px;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.main-contents .video-create-group .kv-area .kv-2 .hover-clip:hover {
  cursor: pointer;
  opacity: 1;
}
.main-contents .video-create-group .kv-area .btn-2 {
  position: absolute;
  left: 478px;
  top: 546px;
  width: 235px;
  height: 50px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-btn-go.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .video-create-group .kv-area .btn-2:active {
  margin-top: 1px;
}
.main-contents .video-create-group .kv-area .kv-3 {
  position: absolute;
  left: 796px;
  top: 0;
  width: 398px;
  height: 526px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-kv.jpg");
  background-size: cover;
  background-position: -796px;
}
.main-contents .video-create-group .kv-area .kv-3 .hover-clip {
  position: absolute;
  left: 0;
  top: 0;
  width: 399px;
  height: 526px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-kv-hover.jpg");
  background-size: cover;
  background-position: -796px;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.main-contents .video-create-group .kv-area .kv-3 .hover-clip:hover {
  cursor: pointer;
  opacity: 1;
}
.main-contents .video-create-group .kv-area .btn-3 {
  position: absolute;
  left: 876px;
  top: 546px;
  width: 235px;
  height: 50px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-create-btn-go.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .video-create-group .kv-area .btn-3:active {
  margin-top: 1px;
}
.main-contents .blogger-group {
  background: #fcfcfc;
  height: 864px;
}
.main-contents .blogger-group .top {
  position: absolute;
  left: 648px;
  top: 30px;
  width: 618px;
  height: 175px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-group-top.png");
  background-size: cover;
}
.main-contents .blogger-group .left {
  position: absolute;
  left: 246px;
  top: 133px;
  width: 510px;
  height: 719px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-group-left.jpg");
  background-size: cover;
}
.main-contents .blogger-group .blogger-container {
  position: absolute;
  top: 0;
  left: 0;
}
.main-contents .blogger-group .blogger-container .blogger-1 {
  position: absolute;
  left: 710px;
  top: 230px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-1.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-1 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-1 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-1 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .blogger-group .blogger-container .blogger-2 {
  position: absolute;
  left: 960px;
  top: 230px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-2.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-2 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-2 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-2 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .blogger-group .blogger-container .blogger-3 {
  position: absolute;
  left: 1210px;
  top: 230px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-3.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-3 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-3 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-3 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .blogger-group .blogger-container .blogger-4 {
  position: absolute;
  left: 590px;
  top: 540px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-4.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-4 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-4 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-4 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .blogger-group .blogger-container .blogger-5 {
  position: absolute;
  left: 840px;
  top: 540px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-5.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-5 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-5 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-5 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .blogger-group .blogger-container .blogger-6 {
  position: absolute;
  left: 1090px;
  top: 540px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-6.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-6 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-6 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-6 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .blogger-group .blogger-container .blogger-7 {
  position: absolute;
  left: 1340px;
  top: 540px;
  width: 230px;
  height: 290px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/blogger-7.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .blogger-group .blogger-container .blogger-7 .blogger-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 224px;
  height: 283px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.main-contents .blogger-group .blogger-container .blogger-7 .blogger-cover:hover {
  opacity: 1;
}
.main-contents .blogger-group .blogger-container .blogger-7 .blogger-cover .coming-soon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  margin-top: -15px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-contents .prize-group {
  background-image: url("../images/prize-group-bg.jpg");
  background-size: auto;
  height: 678px;
}
.main-contents .prize-group .input-name,
.main-contents .prize-group .input-email,
.main-contents .prize-group .input-phone {
  position: absolute;
  width: 328px;
  height: 29px;
  border: none;
  padding: 5px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: #666;
}
.main-contents .prize-group .input-name {
  left: 534px;
  top: 184px;
}
.main-contents .prize-group .input-phone {
  left: 534px;
  top: 234px;
}
.main-contents .prize-group .input-email {
  left: 534px;
  top: 284px;
}
.main-contents .prize-group .check-privacy {
  position: absolute;
  left: 390px;
  top: 336px;
}
.main-contents .prize-group .btn-privacy {
  position: absolute;
  left: 444px;
  top: 333px;
  width: 245px;
  height: 26px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-bottom: 1px solid white;
}
.main-contents .prize-group .btn-retail {
  position: absolute;
  left: 394px;
  top: 431px;
  width: 221px;
  height: 41px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/prize-group-btn-retails.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .prize-group .btn-retail:active {
  margin-top: 1px;
}
.main-contents .prize-group .btn-send {
  position: absolute;
  left: 394px;
  top: 488px;
  width: 340px;
  height: 64px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/prize-group-btn-send.png");
  background-size: cover;
  cursor: pointer;
}
.main-contents .prize-group .btn-send:active {
  margin-top: 1px;
}
/** mixins **/
/** video create **/
.video-create {
  position: absolute;
  left: 50%;
  top: 0;
}
.video-create .video-create-form-trigger {
  position: absolute;
  width: 237px;
  height: 50px;
  background: rgba(55, 255, 255, 0.5);
  opacity: 0;
  cursor: pointer;
}
.video-create .video-create-form-trigger:hover {
  opacity: 1;
}
.video-create .trigger-1 {
  left: -457px;
  top: 2644px;
}
.video-create .trigger-2 {
  left: -135px;
  top: 2694px;
}
.video-create .trigger-3 {
  left: 192px;
  top: 2645px;
}
/** video create form **/
.video-create-form {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}
.video-create-form .form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 871px;
  height: 878px;
  margin-left: -435.5px;
  margin-top: -439px;
  background-color: #e8e8e8;
}
@media (max-height: 978px) {
  .video-create-form .form-container {
    position: relative;
    top: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.video-create-form .form-container .title {
  position: absolute;
  left: 102px;
  top: 17px;
  width: 665px;
  height: 138px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-form-title.png");
  background-size: cover;
}
.video-create-form .form-container .check-text {
  position: absolute;
  right: 278px;
  bottom: 36px;
  width: 263px;
  height: 36px;
  background-image: url("../images/check-text.png");
  background-size: auto;
}
.video-create-form .form-container .deco {
  position: absolute;
  right: 22px;
  top: 220px;
  width: 247px;
  height: 489px;
  background-image: url("../images/check-form-deco.jpg");
  background-size: auto;
}
.video-create-form .form-container .question-text {
  position: absolute;
  left: 236px;
  top: 686px;
  width: 256px;
  height: 16px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-form-question.png");
  background-size: cover;
}
.video-create-form .form-container .input-field {
  position: absolute;
  left: 233px;
  top: 711px;
  width: 320px;
  height: 60px;
  padding: 5px;
  border: none;
  overflow-y: auto;
  /* IE */
  resize: none;
  /* Firefox, Chrome */
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: #808080;
}
.video-create-form .form-container .item-1,
.video-create-form .form-container .item-2,
.video-create-form .form-container .item-3 {
  position: absolute;
}
.video-create-form .form-container .item-1 .left-part,
.video-create-form .form-container .item-2 .left-part,
.video-create-form .form-container .item-3 .left-part {
  position: relative;
  background: #818181;
  float: left;
  cursor: pointer;
}
.video-create-form .form-container .item-1 .left-part .help-text,
.video-create-form .form-container .item-2 .left-part .help-text,
.video-create-form .form-container .item-3 .left-part .help-text {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 106px;
  height: 39px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-form-user-image-help-text.png");
  background-size: cover;
}
.video-create-form .form-container .item-1 .left-part .user-image,
.video-create-form .form-container .item-2 .left-part .user-image,
.video-create-form .form-container .item-3 .left-part .user-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video-create-form .form-container .item-1 .left-part .user-image canvas,
.video-create-form .form-container .item-2 .left-part .user-image canvas,
.video-create-form .form-container .item-3 .left-part .user-image canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-create-form .form-container .item-1 .left-part input,
.video-create-form .form-container .item-2 .left-part input,
.video-create-form .form-container .item-3 .left-part input {
  visibility: hidden;
}
.video-create-form .form-container .item-1 .right-part,
.video-create-form .form-container .item-2 .right-part,
.video-create-form .form-container .item-3 .right-part {
  position: relative;
  float: left;
  margin-left: 22px;
  margin-top: 16px;
}
.video-create-form .form-container .item-1 .right-part .item-text,
.video-create-form .form-container .item-2 .right-part .item-text,
.video-create-form .form-container .item-3 .right-part .item-text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 260px;
  height: 80px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/video-form-item-text.png");
  background-size: cover;
}
.video-create-form .form-container .item-1 .right-part .btn-select-image,
.video-create-form .form-container .item-2 .right-part .btn-select-image,
.video-create-form .form-container .item-3 .right-part .btn-select-image {
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 27px;
  width: 80px;
  height: 25px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/btn-select-image.png");
  background-size: cover;
}
.video-create-form .form-container .item-1 .right-part .text-select,
.video-create-form .form-container .item-2 .right-part .text-select,
.video-create-form .form-container .item-3 .right-part .text-select {
  position: absolute;
  top: 90px;
  width: 280px;
  height: 30px;
  background: #ffffff;
}
.video-create-form .form-container .item-1 .right-part .text-select .select-icon,
.video-create-form .form-container .item-2 .right-part .text-select .select-icon,
.video-create-form .form-container .item-3 .right-part .text-select .select-icon {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/drop_down_icon.png) 0 0;
  width: 32px;
  height: 32px;
  pointer-events: none;
  background-size: cover;
}
.video-create-form .form-container .item-1 .right-part .text-select select,
.video-create-form .form-container .item-2 .right-part .text-select select,
.video-create-form .form-container .item-3 .right-part .text-select select {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 5px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #666666;
  cursor: pointer;
}
.video-create-form .form-container .item-1 .right-part .text-select select option,
.video-create-form .form-container .item-2 .right-part .text-select select option,
.video-create-form .form-container .item-3 .right-part .text-select select option {
  color: #666666;
}
.video-create-form .form-container .item-1 {
  top: 187px;
  left: 62px;
}
.video-create-form .form-container .item-1 .left-part {
  width: 243px;
  height: 150px;
}
.video-create-form .form-container .item-1 .left-part .number-text {
  position: absolute;
  right: 27px;
  bottom: 13px;
  width: 25px;
  height: 93px;
  background-image: url("../images/video-form-number-1.png");
  background-size: auto;
}
.video-create-form .form-container .item-2 {
  top: 361px;
  left: 62px;
}
.video-create-form .form-container .item-2 .left-part {
  width: 243px;
  height: 150px;
}
.video-create-form .form-container .item-2 .left-part .number-text {
  position: absolute;
  right: 12px;
  bottom: 13px;
  width: 65px;
  height: 95px;
  background-image: url("../images/video-form-number-2.png");
  background-size: auto;
}
.video-create-form .form-container .item-3 {
  top: 538px;
  left: 62px;
}
.video-create-form .form-container .item-3 .left-part {
  width: 156px;
  height: 206px;
}
.video-create-form .form-container .item-3 .left-part .number-text {
  position: absolute;
  right: 12px;
  bottom: 13px;
  width: 64px;
  height: 97px;
  background-image: url("../images/video-form-number-3.png");
  background-size: auto;
}
.video-create-form .form-container .bottom-group {
  position: absolute;
  bottom: 0;
  right: 0;
}
.video-create-form .form-container .bottom-group .check-privacy {
  position: absolute;
  right: 547px;
  bottom: 54px;
}
.video-create-form .form-container .bottom-group .check-fb-share {
  position: absolute;
  right: 547px;
  bottom: 34px;
}
.video-create-form .form-container .bottom-group .share-text-tag {
  position: absolute;
  right: 10px;
  bottom: 121px;
  width: 290px;
  height: 50px;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  line-height: 24px;
}
.video-create-form .form-container .bottom-group .btn-privacy {
  position: absolute;
  right: 299px;
  bottom: 53px;
  width: 205px;
  height: 26px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-bottom: 1px solid black;
}
.video-create-form .form-container .bottom-group .btn-send {
  cursor: pointer;
  position: absolute;
  right: 32px;
  bottom: 32px;
  width: 224px;
  height: 56px;
  background-image: url("../images/btn-send.png");
  background-size: auto;
  transition: opacity 0.5s ease-out;
}
.video-create-form .form-container .bottom-group .btn-send.disable-mode {
  opacity: .2;
}
.video-create-form .form-container .btn-close {
  cursor: pointer;
  position: absolute;
  left: 813px;
  top: 15px;
  width: 46px;
  height: 46px;
  margin-left: 0;
  margin-top: 0;
  background-image: url("../images/btn-close.png");
  background-size: cover;
}
/** video popup **/
.video-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 300;
  display: none;
  background: #000000;
}
.video-popup .content {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-popup .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background-image: url("../images/btn-close-white.png");
  background-size: auto;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 480px) {
  #scene-container {
    height: 3210px;
    min-width: inherit;
  }
  .main-contents {
    width: 480px;
    height: 3210px;
    left: 50%;
    margin-left: -240px;
    overflow: hidden;
  }
  .main-contents .top-group {
    height: 70px;
  }
  .main-contents .top-group .logo {
    position: absolute;
    left: 108px;
    top: 19px;
    width: 263px;
    height: 41px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/top-group-logo-m.png");
    background-size: cover;
  }
  .main-contents .video-group {
    height: 400px;
  }
  .main-contents .video-group .video-area {
    position: absolute;
    top: 43px;
    left: 50%;
  }
  .main-contents .video-group .video-area .video-container {
    left: -240px;
  }
  .main-contents .video-group .video-area .video-container .video-player {
    width: 480px;
    height: 278px;
    background: #ccc;
    margin-right: 0px;
  }
  .main-contents .video-group .video-area .arrow-left {
    display: none;
  }
  .main-contents .video-group .video-area .arrow-right {
    display: none;
  }
  .main-contents .video-group .video-thumb-area {
    position: absolute;
    top: 333px;
    left: 0;
    width: 500px;
    height: 67px;
  }
  .main-contents .video-group .video-thumb-area .video-thumb {
    position: relative;
    float: left;
    width: 117px;
    height: 67px;
    margin-right: 4px;
    background: #ccc;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .video-group .video-thumb-area .video-thumb:nth-child(1) {
    background-image: url("../images/video-group-thumb-1.png");
    background-size: auto;
  }
  .main-contents .video-group .video-thumb-area .video-thumb:nth-child(2) {
    background-image: url("../images/video-group-thumb-2.png");
    background-size: auto;
  }
  .main-contents .video-group .video-thumb-area .video-thumb:nth-child(3) {
    background-image: url("../images/video-group-thumb-3.png");
    background-size: auto;
  }
  .main-contents .video-group .video-thumb-area .video-thumb:nth-child(4) {
    background-image: url("../images/video-group-thumb-4.png");
    background-size: auto;
  }
  .main-contents .video-group .video-thumb-area .video-thumb.disactive {
    opacity: .5;
  }
  .main-contents .video-group .bottom-buttons {
    position: absolute;
    bottom: auto;
    left: 12px;
    top: 8px;
  }
  .main-contents .product-group {
    background: #ffffff;
    height: 644px;
  }
  .main-contents .product-group .content {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 480px;
    height: 166px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/product-group-content-m.jpg");
    background-size: cover;
  }
  .main-contents .product-group .topic-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-contents .product-group .topic-container .topic-1 {
    position: absolute;
    left: 6px;
    top: 199px;
    width: 470px;
    height: 424px;
    margin-left: 0px;
    margin-top: 0;
    background-image: url("../images/product-group-topic-1-m.jpg");
    background-size: cover;
  }
  .main-contents .product-group .topic-container .topic-2 {
    position: absolute;
    left: 20px;
    top: 208px;
    width: 437px;
    height: 315px;
    margin-left: 480px;
    margin-top: 0;
    background-image: url("../images/product-group-topic-2-m.jpg");
    background-size: cover;
  }
  .main-contents .product-group .btn-left {
    position: absolute;
    left: 0px;
    top: 367px;
    width: 38px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/black-btn-left.png");
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .product-group .btn-left:active {
    background-repeat: repeat;
    background-position: 2px;
  }
  .main-contents .product-group .btn-left.disactive {
    opacity: 0;
  }
  .main-contents .product-group .btn-right {
    position: absolute;
    left: 442px;
    top: 367px;
    width: 38px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/black-btn-right.png");
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .product-group .btn-right:active {
    background-repeat: repeat;
    background-position: -2px;
  }
  .main-contents .product-group .btn-right.disactive {
    opacity: 0;
  }
  .main-contents .video-create-group {
    background: #fceef3;
    height: 845px;
  }
  .main-contents .video-create-group .top {
    position: absolute;
    left: 23px;
    top: 23px;
    width: 429px;
    height: 270px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/video-create-top-m.jpg");
    background-size: cover;
  }
  .main-contents .video-create-group .kv-area {
    display: none;
  }
  .main-contents .video-create-group .kv-area-m {
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-contents .video-create-group .kv-area-m .kv-1 {
    position: absolute;
    left: 57px;
    top: 307px;
    width: 342px;
    height: 516px;
    margin-left: 0px;
    margin-top: 0;
    background-image: url("../images/video-create-kv-1-m.png");
    background-size: cover;
  }
  .main-contents .video-create-group .kv-area-m .kv-2 {
    position: absolute;
    left: 57px;
    top: 307px;
    width: 342px;
    height: 516px;
    margin-left: 480px;
    margin-top: 0;
    background-image: url("../images/video-create-kv-2-m.png");
    background-size: cover;
  }
  .main-contents .video-create-group .kv-area-m .kv-3 {
    position: absolute;
    left: 57px;
    top: 307px;
    width: 342px;
    height: 516px;
    margin-left: 960px;
    margin-top: 0;
    background-image: url("../images/video-create-kv-3-m.png");
    background-size: cover;
  }
  .main-contents .video-create-group .kv-area-m .kv-1 .video-btn,
  .main-contents .video-create-group .kv-area-m .kv-2 .video-btn,
  .main-contents .video-create-group .kv-area-m .kv-3 .video-btn {
    position: absolute;
    right: 0;
    bottom: 285px;
    width: 314px;
    height: 205px;
    cursor: pointer;
  }
  .main-contents .video-create-group .kv-area-m .kv-1 .btn,
  .main-contents .video-create-group .kv-area-m .kv-2 .btn,
  .main-contents .video-create-group .kv-area-m .kv-3 .btn {
    position: absolute;
    width: 268px;
    height: 53px;
    left: 52px;
    bottom: 28px;
    background-image: url("../images/video-create-btn-go-m.png");
    background-size: auto;
    cursor: pointer;
  }
  .main-contents .video-create-group .kv-area-m .kv-1 .btn:active,
  .main-contents .video-create-group .kv-area-m .kv-2 .btn:active,
  .main-contents .video-create-group .kv-area-m .kv-3 .btn:active {
    margin-bottom: -2px;
  }
  .main-contents .video-create-group .btn-left {
    position: absolute;
    left: 0px;
    top: 475px;
    width: 38px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/black-btn-left.png");
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .video-create-group .btn-left:active {
    background-repeat: repeat;
    background-position: -2px;
  }
  .main-contents .video-create-group .btn-left.disactive {
    opacity: 0;
  }
  .main-contents .video-create-group .btn-right {
    position: absolute;
    left: 442px;
    top: 475px;
    width: 38px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/black-btn-right.png");
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .video-create-group .btn-right:active {
    background-repeat: repeat;
    background-position: 2px;
  }
  .main-contents .video-create-group .btn-right.disactive {
    opacity: 0;
  }
  .main-contents .blogger-group {
    background: #fcfcfc;
    height: 663px;
  }
  .main-contents .blogger-group .top {
    position: absolute;
    left: 27px;
    top: 39px;
    width: 424px;
    height: 136px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/blogger-group-top-m.png");
    background-size: cover;
  }
  .main-contents .blogger-group .left {
    display: none;
  }
  .main-contents .blogger-group .blogger-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-contents .blogger-group .blogger-container .blogger-1 {
    position: absolute;
    left: 62px;
    top: 195px;
    width: 170px;
    height: 215px;
    margin-left: 0px;
    margin-top: 0;
    background-image: url("../images/blogger-1.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-1 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .blogger-container .blogger-2 {
    position: absolute;
    left: 248px;
    top: 195px;
    width: 170px;
    height: 215px;
    margin-left: 0px;
    margin-top: 0;
    background-image: url("../images/blogger-2.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-2 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .blogger-container .blogger-3 {
    position: absolute;
    left: 62px;
    top: 423px;
    width: 170px;
    height: 215px;
    margin-left: 0px;
    margin-top: 0;
    background-image: url("../images/blogger-3.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-3 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .blogger-container .blogger-4 {
    position: absolute;
    left: 248px;
    top: 423px;
    width: 170px;
    height: 215px;
    margin-left: 0px;
    margin-top: 0;
    background-image: url("../images/blogger-4.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-4 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .blogger-container .blogger-5 {
    position: absolute;
    left: 62px;
    top: 195px;
    width: 170px;
    height: 215px;
    margin-left: 480px;
    margin-top: 0;
    background-image: url("../images/blogger-5.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-5 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .blogger-container .blogger-6 {
    position: absolute;
    left: 248px;
    top: 195px;
    width: 170px;
    height: 215px;
    margin-left: 480px;
    margin-top: 0;
    background-image: url("../images/blogger-6.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-6 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .blogger-container .blogger-7 {
    position: absolute;
    left: 62px;
    top: 423px;
    width: 170px;
    height: 215px;
    margin-left: 480px;
    margin-top: 0;
    background-image: url("../images/blogger-7.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-contents .blogger-group .blogger-container .blogger-7 .blogger-cover {
    width: 166px;
    height: 209px;
    opacity: 1;
  }
  .main-contents .blogger-group .btn-left {
    position: absolute;
    left: 0px;
    top: 355px;
    width: 38px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/black-btn-left.png");
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .blogger-group .btn-left:active {
    background-repeat: repeat;
    background-position: -2px;
  }
  .main-contents .blogger-group .btn-left.disactive {
    opacity: 0;
  }
  .main-contents .blogger-group .btn-right {
    position: absolute;
    left: 442px;
    top: 355px;
    width: 38px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/black-btn-right.png");
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
  }
  .main-contents .blogger-group .btn-right:active {
    background-repeat: repeat;
    background-position: 2px;
  }
  .main-contents .blogger-group .btn-right.disactive {
    opacity: 0;
  }
  .main-contents .prize-group {
    background-image: url("../images/prize-group-bg-m.jpg");
    background-size: auto;
    height: 588px;
  }
  .main-contents .prize-group .input-name,
  .main-contents .prize-group .input-email,
  .main-contents .prize-group .input-phone {
    width: 270px;
    height: 25px;
  }
  .main-contents .prize-group .input-name {
    left: 121px;
    top: 181px;
  }
  .main-contents .prize-group .input-phone {
    left: 121px;
    top: 227px;
  }
  .main-contents .prize-group .input-email {
    left: 121px;
    top: 273px;
  }
  .main-contents .prize-group .check-privacy {
    left: 24px;
    top: 322px;
  }
  .main-contents .prize-group .btn-privacy {
    left: 80px;
    top: 318px;
    width: 187px;
    height: 26px;
  }
  .main-contents .prize-group .btn-retail {
    position: absolute;
    left: 132px;
    top: 427px;
    width: 221px;
    height: 41px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/prize-group-btn-retails.png");
    background-size: cover;
  }
  .main-contents .prize-group .btn-send {
    position: absolute;
    left: 39px;
    top: 478px;
    width: 408px;
    height: 64px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/prize-group-btn-send-m.png");
    background-size: cover;
  }
  /** video create form **/
  .video-create-form {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .video-create-form .form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 480px;
    height: 2150px;
    margin-left: -240px;
    margin-top: -1075px;
    background-color: white;
  }
  .video-create-form .form-container .title {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 480px;
    height: 259px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/video-form-title-m.png");
    background-size: cover;
  }
  .video-create-form .form-container .check-text {
    right: 104px;
    bottom: 218px;
  }
  .video-create-form .form-container .deco {
    right: 34px;
    top: 1148px;
    width: 136px;
    height: 354px;
    background-image: url("../images/check-form-deco-m.jpg");
    background-size: auto;
  }
  .video-create-form .form-container .question-text {
    position: absolute;
    left: 106px;
    top: 1665px;
    width: 256px;
    height: 16px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/video-form-question.png");
    background-size: cover;
  }
  .video-create-form .form-container .input-field {
    left: 44px;
    top: 1692px;
    width: 386px;
    height: 101px;
    border: 1px solid black;
  }
  .video-create-form .form-container .item-1,
  .video-create-form .form-container .item-2,
  .video-create-form .form-container .item-3 {
    position: absolute;
  }
  .video-create-form .form-container .item-1 .left-part .help-text,
  .video-create-form .form-container .item-2 .left-part .help-text,
  .video-create-form .form-container .item-3 .left-part .help-text {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 106px;
    height: 39px;
    margin-left: 0;
    margin-top: 0;
    background-image: url("../images/video-form-user-image-help-text.png");
    background-size: cover;
  }
  .video-create-form .form-container .item-1 .right-part,
  .video-create-form .form-container .item-2 .right-part,
  .video-create-form .form-container .item-3 .right-part {
    float: none;
    margin-left: 0;
    margin-top: 299px;
  }
  .video-create-form .form-container .item-1 .right-part .text-select,
  .video-create-form .form-container .item-2 .right-part .text-select,
  .video-create-form .form-container .item-3 .right-part .text-select {
    width: 384px;
    border: 1px solid black;
  }
  .video-create-form .form-container .item-1 {
    top: 287px;
    left: 45px;
  }
  .video-create-form .form-container .item-1 .left-part {
    width: 384px;
    height: 236px;
  }
  .video-create-form .form-container .item-1 .left-part .number-text {
    position: absolute;
    right: 27px;
    bottom: 13px;
    width: 25px;
    height: 93px;
    background-image: url("../images/video-form-number-1.png");
    background-size: auto;
  }
  .video-create-form .form-container .item-2 {
    top: 721px;
    left: 45px;
  }
  .video-create-form .form-container .item-2 .left-part {
    width: 243px;
    height: 150px;
  }
  .video-create-form .form-container .item-2 .left-part .number-text {
    position: absolute;
    right: 12px;
    bottom: 13px;
    width: 65px;
    height: 95px;
    background-image: url("../images/video-form-number-2.png");
    background-size: auto;
  }
  .video-create-form .form-container .item-3 {
    top: 1157px;
    left: 45px;
  }
  .video-create-form .form-container .item-3 .left-part {
    width: 156px;
    height: 206px;
  }
  .video-create-form .form-container .item-3 .left-part .number-text {
    position: absolute;
    right: 12px;
    bottom: 13px;
    width: 64px;
    height: 97px;
    background-image: url("../images/video-form-number-3.png");
    background-size: auto;
  }
  .video-create-form .form-container .item-3 .right-part {
    margin-top: 355px;
  }
  .video-create-form .form-container .bottom-group {
    margin-bottom: 60px;
  }
  .video-create-form .form-container .bottom-group .share-text-tag {
    right: 79px;
    bottom: 226px;
    width: 290px;
    height: 50px;
    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: 14px;
    color: black;
    line-height: 24px;
  }
  .video-create-form .form-container .bottom-group .check-privacy {
    right: 374px;
    bottom: 177px;
  }
  .video-create-form .form-container .bottom-group .check-fb-share {
    right: 374px;
    bottom: 155px;
  }
  .video-create-form .form-container .bottom-group .btn-privacy {
    right: 126px;
    bottom: 175px;
  }
  .video-create-form .form-container .bottom-group .btn-send {
    right: 38px;
    bottom: 68px;
    width: 403px;
    height: 67px;
    background-image: url("../images/btn-send-m.png");
    background-size: auto;
  }
  .video-create-form .form-container .btn-close {
    left: 50%;
    margin-left: -25px;
    top: auto;
    bottom: 40px;
    width: 50px;
    height: 50px;
    background-image: url("../images/btn-close-m.png");
    background-size: auto;
  }
}
@media (max-width: 480px) and (max-height: 2150px) {
  .video-create-form .form-container {
    position: relative;
    top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
