@import "common-mixins.less";

@background-color: #faefd8;
@field-font-color: #666666;

.default-font(@font-size: 14px, @font-color: #000){
    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: @font-size;
    color: @font-color;
}

html {
    padding: 0;
    margin: 0;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    background: @background-color;
    padding: 0;
    margin: 0;

    &.lock-mode {
        overflow:hidden;
    }
}
.template-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
#invisible-container{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.main-cover{

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,.8);

    display: none;

    z-index: 50;
}

/** main contents **/
@pcWidth: 1920px;
@pcHeight: 4350px;
#scene-container{
    position: absolute;
    width: 100%;
    height: @pcHeight;
    overflow: hidden;
    min-width: 1370px;
}

.main-contents{


    position: absolute;
    width: @pcWidth;
    height: @pcHeight;

    left: 50%;
    margin-left: -@pcWidth * .5;

    overflow: hidden;

//    .image-bg('layout-pc.png');



    @LH1: 136px;
    @LH2: 610px;
    @LH3: 1068px;
    @LH4: 994px;
    @LH5: 864px;
    @LH6: 678px;


    /** groups **/
    .block-group{
        position: relative;
        width: 100%;
        float:left;
    }

    .top-group{
        background: #fcfcfc;
        height: @LH1;

        .logo{
            .abs-div(682px, 23px, 554px, 86px, 0, 0, "top-group-logo.png");
        }
    }

    .video-group{
        background: #fcfcfc;
        height: @LH2;

        .video-area{

            @vw: 1186px;
            @vh: 546px;
            @wGap: 20px;

            position: absolute;
            top:0;
            left:50%;


            .video-container{

                position: absolute;
                top:0;
                left: -@vw*.5;

                white-space: nowrap;
                font-size: 0;

                .video-player{
                    position: relative;
                    display: inline-block;
                    width: @vw;
                    height: @vh;
                    background: #ccc;

                    margin-right: @wGap;
                }

            }

            .arrow-left{
                .abs-div(-670px, 204px, 44px, 112px, 0, 0, "video-group-arrow-left.png");
                cursor: pointer;


                &:active{
                    margin-left: -10px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
            .arrow-right{
                .abs-div(620px, 204px, 44px, 112px, 0, 0, "video-group-arrow-right.png");
                cursor: pointer;


                &:active{
                    margin-left: 10px;
                }

                transition: opacity .5s ease-out;
                &.disactive{
                    opacity: 0;
                }
            }
        }

        .bottom-buttons{
            position: absolute;
            bottom:53px;
            left:1094px;

            .btn-offical-site{
                .make-button(0px, 150px, 26px, 100px, 40px, 0px, -100px);
            }
            .btn-fb{
                .make-button(160px, 190px, 26px, 124px, 30px, -160px, -284px);
            }
            .btn-ig{
                .make-button(334px, 120px, 26px, 90px, 27px, -334px, -424px);
            }

            .div-line-1{
                position: absolute;
                width: 1px;
                height: 22px;
                top:2px;
                left: 149px;
                background: #333333;
            }
            .div-line-2{
                position: absolute;
                width: 1px;
                height: 22px;
                top:2px;
                left: 323px;
                background: #333333;
            }

            .make-button(@l; @w; @h; @textWidth; @iconWidth; @textOffset; @iconOffset;)
            {
                position: absolute;
                left: @l;
                width: @w;
                height: @h;

                cursor: pointer;

                .text{
                    position: absolute;
                    width: @textWidth;
                    height:26px;
                    left:0;
                    top:0;
                    .image-bg("video-group-buttons.png");
                    background-position: @textOffset;

                }
                .icon{
                    position: absolute;
                    width: @iconWidth;
                    height:26px;
                    left:@textWidth;
                    top:0;
                    .image-bg("video-group-buttons.png");
                    background-position: @iconOffset;
                }
            }
        }

    }

    .product-group{
        background: #fcfcfc;
        height: @LH3;

        .content{
            .abs-div(0px, 30px, 1920px, 1018px, 0, 0, "product-group-content.jpg");
        }
    }

    .video-create-group{
        background: #fceef3;
        height: @LH4;

        .top{
            .abs-div(360px,14px,1316px, 319px, 0, 0, "video-create-top.jpg");
        }
        .kv-area{
            @kvw:398px;
            @kvh:526px;

            position: absolute;
            top:351px;
            left:361px;

            .my-mixin(1);
            .my-mixin(2);
            .my-mixin(3);

            .my-mixin(@index){
                @offset: @kvw * (@index - 1);
                .kv-@{index}{
                    .abs-div(@offset, 0, @kvw, @kvh, 0, 0, "video-create-kv.jpg");
                    background-position: -@offset;


                    .hover-clip{
                        .abs-div(0, 0, @kvw + 1px, @kvh, 0, 0, "video-create-kv-hover.jpg");
                        background-position: -@offset;

                        opacity: 0;

                        transition: opacity .6s ease-out;

                        &:hover{
                            cursor: pointer;
                            opacity: 1;
                        }
                    }

                }
                .btn-@{index}{
                    .abs-div(80px + @offset, 546px, 235px, 50px, 0, 0, "video-create-btn-go.png");
                    cursor: pointer;
                    &:active{
                        margin-top: 1px;
                    }
                }
            }

        }
    }

    .blogger-group{
        background: #fcfcfc;
        height: @LH5;

        .top{
            .abs-div(648px, 30px, 618px, 175px, 0, 0, "blogger-group-top.png");
        }
        .left{
            .abs-div(246px, 133px, 510px, 719px, 0, 0, "blogger-group-left.jpg");
        }


        .blogger-container{

            position: absolute;
            top:0;
            left:0;

            @gap: 250px;

            .my-mixin(1, 0, 710px, 230px);
            .my-mixin(2, 1, 710px, 230px);
            .my-mixin(3, 2, 710px, 230px);
            .my-mixin(4, 0, 590px, 540px);
            .my-mixin(5, 1, 590px, 540px);
            .my-mixin(6, 2, 590px, 540px);
            .my-mixin(7, 3, 590px, 540px);

            .my-mixin(@index; @numGaps; @startX; @startY; @w: 230px; @h: 290px; @fileIndex: 1;){
                .blogger-@{index}{
                    .abs-div(@startX + @numGaps * @gap, @startY, @w, @h, 0, 0, "blogger-@{fileIndex}.png");
                    cursor: pointer;
                }
            }
        }
    }

    .prize-group{
        .image-bg("prize-group-bg.jpg");
        height: @LH6;

        .input-name, .input-email, .input-phone{
            position: absolute;
            width: 328px;
            height: 29px;
            border: none;

            padding: 5px;
            .default-font(14px, #666);
        }

        .input-name{
            left: 534px;
            top:184px;
        }

        .input-phone{
            left: 534px;
            top:234px;
        }

        .input-email{
            left: 534px;
            top:284px;
        }

        .check-privacy{
            position: absolute;
            left: 390px;
            top:336px;
        }

        .btn-retail{
            .abs-div(394px, 431px, 221px, 41px, 0, 0, "prize-group-btn-retails.png");
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-send{
            .abs-div(394px, 488px, 340px, 64px, 0, 0, "prize-group-btn-send.png");
            cursor: pointer;
            &:active {
                margin-top: 1px;
            }
        }

    }
}


/** mixins **/
.select-default(){



    .select-icon{
        position: absolute;
        right:0;
        top:0;
        background: url(../images/drop_down_icon.png) 0 0;
        width: 32px;
        height: 32px;
        pointer-events: none;
        background-size: cover;
    }

    & select{

        background: transparent;

        width: 100%;
        height: 100%;
        padding: 5px 5px 5px 5px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        color: @field-font-color;


        cursor: pointer;

        & option{
            color: @field-font-color;
        }
    }
}

/** video create **/
.video-create{

    position: absolute;
    left:50%;
    top:0;

    .video-create-form-trigger{
        position: absolute;
        width: 237px;
        height: 50px;

//        top:2644px;
//        left:-457px;

        background: rgba(55,255,255,.5);
        opacity: 0;

        cursor: pointer;

        &:hover{
            opacity: 1;
        }

    }

    .my-mixin(1, -457px, 2644px);
    .my-mixin(2, -135px, 2694px);
    .my-mixin(3, 192px, 2645px);

    .my-mixin(@index; @left; @top;){
        .trigger-@{index}{
            left: @left;
            top: @top;
        }
    }
}

/** video create form **/
.video-create-form{
    visibility: hidden;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;

    overflow-x: hidden;
    overflow-y: auto;

    z-index: 100;

    .form-container{

        @w: 871px;
        @h: 878px;
        @gap: 50px;
        @minHeight: (@h + @gap * 2);

        .centralized-div(50%, 50%, @w, @h);



        @media (max-height: @minHeight) {
            position: relative;
            top:0;
            margin-top: @gap;
            margin-bottom: @gap;
        }

//        .image-bg("demo-video-form.jpg");
//        .image-bg("video-form-base.jpg");
        background-color:#e8e8e8;

        .title{
            .abs-div(102px, 17px,665px,138px,0,0, "video-form-title.png");
        }


        .check-text{
            position: absolute;
            right:278px;
            bottom:36px;
            width:263px;
            height:36px;
            .image-bg("check-text.png");
        }

        .deco{

            position: absolute;
            right:22px;
            top:220px;
            width:247px;
            height:489px;
            .image-bg("check-form-deco.jpg");
        }

        .question-text{
            .abs-div(236px, 686px,256px,16px,0,0, "video-form-question.png");
        }

        .input-field{
            position: absolute;
            left:233px;
            top:711px;
            width:320px;
            height:60px;

            padding: 5px;
            border: none;

            overflow-y : auto; /* IE */
            resize : none; /* Firefox, Chrome */

            .default-font(14px, #808080);
        }

        .item-1, .item-2, .item-3{
            position: absolute;

            .left-part{

                position: relative;
                background: #818181;
//                background: rgba(255,0,0,.3);
                float: left;

                cursor: pointer;

                .help-text{
                    .abs-div(16px, 16px, 106px, 39px,0 ,0 , "video-form-user-image-help-text.png");
                }
                .user-image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    canvas{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }

                input{
                    visibility: hidden;
                }
            }

            .right-part{
                position: relative;
                float:left;
                margin-left: 22px;
                margin-top: 16px;

                .item-text{
                    .abs-div(0px, 0px, 260px, 80px,0 ,0 , "video-form-item-text.png");
                }
                .btn-select-image{
                    cursor: pointer;
                    .abs-div(0px, 27px, 80px, 25px,0 ,0 , "btn-select-image.png");
                }

                .text-select{
                    position: absolute;
                    top:90px;
                    width: 280px;
                    height:30px;
                    background: #ffffff;

                    .select-default();
                }

            }
        }
        .item-1{
            top:187px;
            left:62px;

            .left-part{

                width: 243px;
                height: 150px;

                .number-text{
                    position: absolute;
                    right:27px;
                    bottom:13px;
                    width: 25px;
                    height: 93px;
                    .image-bg('video-form-number-1.png');
                }

            }
        }
        .item-2{
            top:361px;
            left:62px;

            .left-part{

                width: 243px;
                height: 150px;

                .number-text{
                    position: absolute;
                    right:12px;
                    bottom:13px;
                    width: 65px;
                    height: 95px;
                    .image-bg('video-form-number-2.png');
                }

            }
        }
        .item-3{
            top:538px;
            left:62px;

            .left-part{

                width: 156px;
                height:206px;

                .number-text{
                    position: absolute;
                    right:12px;
                    bottom:13px;
                    width: 64px;
                    height: 97px;
                    .image-bg('video-form-number-3.png');
                }

            }
        }


        .bottom-group{

            position: absolute;
            bottom:0;
            right: 0;

            .check-privacy{
                position: absolute;
                right:547px;
                bottom: 54px;
            }

            .check-fb-share{
                position: absolute;
                right:547px;
                bottom: 34px;
            }

            .btn-send{
                cursor: pointer;
                position: absolute;
                right:32px;
                bottom:32px;
                width: 224px;
                height: 56px;
                .image-bg("btn-send.png");
                //.abs-div(614px, 712px, 224px, 56px,0 ,0 , "btn-send.png");

                transition: opacity .5s ease-out;

                &.disable-mode{
                    opacity: .2;
                }
            }

        }


        .btn-close{
            cursor: pointer;
            .abs-div(813px, 15px, 46px, 46px,0 ,0 , "btn-close.png");
        }
    }
}

/** video popup **/
.video-popup{
    position: fixed;
    top:50%;
    left:50%;
//    width: 100%;
//    height: 100%;
    z-index: 300;
    display: none;
    background: #000000;

    .content{
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
    .btn-close{
        position: absolute;
        right:0;
        top:0;
        width: 80px;
        height: 80px;
        .image-bg("btn-close-white.png");
        cursor: pointer;
        z-index: 1;
    }
}

@import "main-mobile.less";